Pillow
pip
tqdm
requests
numpy
setuptools
yarg
pytube
urllib3
certifi
mutagen
websockets
chardet
moviepy
proglog
imageio
decorator
docopt
pipreqs
Brotli
idna
bottle
youtube-dl @ git+https://github.com/ytdl-org/youtube-dl@master
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp@master
